version: '3.8'

services:
  # Zookeeper untuk NiFi
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - nifi-network

  # Apache NiFi
  nifi:
    image: apache/nifi:1.25.0
    container_name: nifi
    environment:
      - NIFI_WEB_HTTP_PORT=8080
      - NIFI_WEB_HTTPS_PORT=8443
      - NIFI_WEB_PROXY_CONTEXT_PATH=/nifi
      - NIFI_CLUSTER_IS_NODE=false
      - NIFI_CLUSTER_NODE_PROTOCOL_PORT=8082
      - NIFI_ZK_CONNECT_STRING=zookeeper:2181
      - NIFI_ELECTION_MAX_WAIT=30 sec
      - NIFI_SENSITIVE_PROPS_KEY=changeme123456789
    volumes:
      - nifi_data:/opt/nifi/nifi-current/database_repository
      - nifi_flowfile:/opt/nifi/nifi-current/flowfile_repository
      - nifi_content:/opt/nifi/nifi-current/content_repository
      - nifi_provenance:/opt/nifi/nifi-current/provenance_repository
      - nifi_state:/opt/nifi/nifi-current/state
    ports:
      - "8080:8080"
      - "8443:8443"
    depends_on:
      - zookeeper
    networks:
      - nifi-network

volumes:
  nifi_data:
  nifi_flowfile:
  nifi_content:
  nifi_provenance:
  nifi_state:

networks:
  nifi-network:
    driver: bridge
